<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>Yasui Furniture Basic Version</display-name>
	<description>Yasui Furniture Online Shop</description>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/common/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/jsp/common/405.jsp</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/WEB-INF/jsp/common/exception.jsp</location>
	</error-page>
	<!--Application Initial Parameter -->
	<context-param>
		<param-name>mode.debug</param-name>
		<param-value>true</param-value>
	</context-param>

	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>jp.recruit.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/ListItem</url-pattern>
		<url-pattern>/PurchaseConfirm</url-pattern>
		<url-pattern>/PurchaseComplete</url-pattern>
		<url-pattern>/AddItem</url-pattern>
		<url-pattern>/AddItemConfirm</url-pattern>
		<url-pattern>/AddItemComplete</url-pattern>
		<url-pattern>/ChangeStock</url-pattern>
		<url-pattern>/ChangeStockConfirm</url-pattern>
		<url-pattern>/ChangeStockComplete</url-pattern>
		<url-pattern>/RemoveItem</url-pattern>
		<url-pattern>/RemoveItemConfirm</url-pattern>
		<url-pattern>/RemoveItemComplete</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CustomLogFilter</filter-name>
		<filter-class>jp.recruit.filter.CustomLogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomLogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListItemServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.ListItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListItemServlet</servlet-name>
		<url-pattern>/ListItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PurchaseConfirmServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.PurchaseConfirm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PurchaseConfirmServlet</servlet-name>
		<url-pattern>/PurchaseConfirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PurchaseCompleteServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.PurchaseComplete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PurchaseCompleteServlet</servlet-name>
		<url-pattern>/PurchaseComplete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddItemServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.AddItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddItemServlet</servlet-name>
		<url-pattern>/AddItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddItemConfirmServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.AddItemConfirm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddItemConfirmServlet</servlet-name>
		<url-pattern>/AddItemConfirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddItemCompleteServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.AddItemComplete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddItemCompleteServlet</servlet-name>
		<url-pattern>/AddItemComplete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeStockServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.ChangeStock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeStockServlet</servlet-name>
		<url-pattern>/ChangeStock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeStockConfirmServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.ChangeStockConfirm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeStockConfirmServlet</servlet-name>
		<url-pattern>/ChangeStockConfirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeStockCompleteServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.ChangeStockComplete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeStockCompleteServlet</servlet-name>
		<url-pattern>/ChangeStockComplete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveItemServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.RemoveItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveItemServlet</servlet-name>
		<url-pattern>/RemoveItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveItemConfirmServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.RemoveItemConfirm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveItemConfirmServlet</servlet-name>
		<url-pattern>/RemoveItemConfirm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveItemCompleteServlet</servlet-name>
		<servlet-class>jp.recruit.servlet.RemoveItemComplete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveItemCompleteServlet</servlet-name>
		<url-pattern>/RemoveItemComplete</url-pattern>
	</servlet-mapping>

	<!--Jsp File Configuration -->
	<jsp-config>
		<jsp-property-group>
			<display-name>JSP Config</display-name>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude>/WEB-INF/jsp/common/common.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	<resource-ref>
		<description>共通設定</description>
		<res-ref-name>jdbc/yasui</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
